div.dashboard-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(175, 175, 175);
   
}

h2 {
  align-self: center;
}




div.user-greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    width: 70%;
    align-self: center;
    
}

div.food-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1400px;
  border-radius: 25px;
  background-color: #ffffff;
  margin: 50px;
}

div.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#user-input {
  background-color: rgb(235, 238, 240);
  align-self: center;
  width: 70%;
  height: 30px;
  border-radius: 15px;
  border: none;
  margin: 40px;
}
#user-input[type=text]{
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
  font-size: large;
  
}

button.search-button {
  align-self: center;
  background-color: #cf0e48;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  width: 400px;
  height: 50px;
  font-size: large;
  margin-top: 25px;
}
