div.register-page{
    display: flex;
    flex-direction:row;
    justify-content: center;
    background-color: #d8d8d8;
    min-height: 100vh;
}

div.register-container{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 70vh;
    background-color: rgb(255, 255, 255, 0.5);
    margin: 150px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px grey ;
    
}

form.register-form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input.user-input{
    padding: 0%;
    margin: 0%;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #d8d8d8;
 
}